<!DOCTYPE HTML>

<html>
<head>
  <%- include('template/head.ejs') %>
</head>

<body>
  <%- include('template/header.ejs') %>

  <section class="banner">
    <div class="banner__wrapper">
      <h1>存放技術之地</h1>
      <div>Welcome to my life</div>
    </div>
  </section>
  <div class="container-wrapper">
    <div class="posts">
      <article class="post">
        <div class="post__header">
          <h2>404 not found</h2>
        </div>
        <div class="post__content">
          你來到一個不該來的地方了！
        </div>
      </article>
    </div>
  </div>

</body>
</html>