<div class="bg"></div>

<nav class="nav">
	<a href="/"><div class="title">抽獎囉</div></a>	
	<div class="btns">
		<% if (username) { %>
			<a class="btn btn__logout" href="../logout">登出</a>
			<a class="btn btn__backstage" href="../backstage">後台管理</a>
		<% } else { %>
			<a class="btn btn__login" href="../login">登入</a>
		<% } %>
	</div>
</nav>

<div class="fix-nav"></div>